@import 'reset';
$green: #1DD3B0;
$darkGreen: #086375;
$lightGreen: #B2FF9E;
$dark: #212121;
$fira: 'Fira Sans';
$ebgaramond: 'EB Garamond';
$sourcecodepro: 'Source Code Pro';
$icon: 'hack-the-hackpad-icon';
$fullWidth: 760px;

@font-face {
    font-family: 'hack-the-hackpad-icon';
    src:url('../fonts/hack-the-hackpad-icon.eot?ksq0g9');
    src:url('../fonts/hack-the-hackpad-icon.eot?#iefixksq0g9') format('embedded-opentype'),
        url('../fonts/hack-the-hackpad-icon.woff?ksq0g9') format('woff'),
        url('../fonts/hack-the-hackpad-icon.ttf?ksq0g9') format('truetype'),
        url('../fonts/hack-the-hackpad-icon.svg?ksq0g9#hack-the-hackpad-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    font-family: $icon;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $ebgaramond !important;
    font-size: 24px;
    line-height: 36px;
    color: $dark;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern=1", "liga=1", "dlig=1", "hlig=1";
    -moz-font-feature-settings: "kern" on, "liga" on, "dlig" on, "hlig" on;
    -webkit-font-feature-settings: "kern","liga","dlig","hlig";
    -ms-font-feature-settings: "kern","liga","dlig","hlig";
    font-feature-settings: "kern","liga","dlig","hlig";
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
header {
    width: 100%;
    height: 60px;
    border-top: solid 4px $green;
    border-bottom: solid 1px rgba($dark, 0.4);
    position: fixed;
    background-color: rgba(255,255,255,0.92);
    z-index: 1;
    .logo {
        position: absolute;
        cursor: pointer;
        top: 21px;
        left: 40px;
        overflow: hidden;
        width: 325px;
        transition: all 0.4s ease;
        #bg, #Hu, #Hd, #ackthe, #ackpad {
            transition: all 0.4s ease; 
        }
        #bg {

        }
        #Hu {
            fill: #1DD3B0;
        }
        #Hd {
            -webkit-transform: translate(0, 0);        
            transform: translate(0, 0);
            fill: #086375;
        }
        #ackthe {
            opacity: 1;
        }
        #ackpad {
            opacity: 1;
        }
        &:hover {
            #Hu {
                fill: #086375;
            }
            #Hd {
                fill: #1DD3B0;
            }
        }
        &.collapse {
            width: 82px;
            #bg { 
            }
            #Hu {

            }
            #Hd {
                -webkit-transform: translate(-143px, 0);        
                transform: translate(-143px, 0);
            }
            #ackthe {
                opacity: 0;
            }
            #ackpad {
                opacity: 0;
            }
        }
    }
    .menu {
        font-weight: 300;
        font-size: 20px;
        line-height: 60px;
        position: absolute;
        top: 2px;
        right: 53px;
        height: 60px;
        a {
            font-family: $fira;
            position: relative;
            display: inline-block;
            margin-left: 30px;
            padding-left: 40px;
            color: $dark;
            transition: all 0.4s;
            &::before {
                transition: all 0.4s;
                font-family: $icon;
                font-style: normal;
                position: absolute;
                left: 0px;
                top: -2px;
                font-size: 30px;
                color: $darkGreen;
            }
        }
        a:hover {
            // color: $green;
            &::before {
                color: $green;
                // text-shadow: 0px 0px 3px rgba($green, 0.5);
            }
        }
        .icon-github::before {
            content: '\e60b';
        }
        .icon-edit::before {
            content: '\e611';
        }
    }
}
article {
    width: $fullWidth;
    margin: 0 auto;
    font-size: 24px;
    line-height: 36px;
}
footer {
    height: 360px;
}
/********** Title ***********/
h1 {
    font-family: $fira;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    height: 100vh;
    padding-top: 38.2vh;
    margin-bottom: 100px;
    box-sizing: border-box;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 240px;
        height: 1px;
        background-color: rgba($dark, 0.4);
        margin: 0 auto;
        bottom: 0px;
        left: 260px;
    }
}
/********** Heading 1 ***********/
h2 {
    font-family: $fira;
    font-weight: 500;
    color: $dark;
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 24px;
}
/********** Heading 2 ***********/
p strong {
    font-family: $fira;
    font-size: 32px;
    line-height: 40px;
    display: block;
    padding: 16px 0;
    letter-spacing: -0.8px;
}
/********** Heading 3 ***********/
ul.noindent{
    padding-left: 0;
    margin-top: 24px !important;
    li {
        padding: 16px 0;
        list-style: none;
        p {
            font-weight: 300;
            font-family: $fira;
        }
    }
}
p {
    font-family: $ebgaramond;
    margin-top: 24px;
}
p:empty {
    margin-top: 0px;
}
ul, ol {
    padding-left: 24px;
    margin-top: 24px;
    li {
        p {
            margin-top: 0px;
        }
    }
}
ul li {
    list-style: disc;
}
ol {
    padding-left: 0px;
    counter-reset: code-number-counter;
    li {
        counter-increment: code-number-counter;
        list-style: none;
        padding-left: 32px;
        position: relative;
        &::before {
            content: counter(code-number-counter) ". ";
            font-family: $fira;
            font-weight: 300;
            font-size: 20px;
            line-height: 36px;
            position: absolute;
            height: 100%;
            left: 0px;

            // -webkit-user-select: none;
            // -moz-user-select: none;
            // -ms-user-select: none;
            // user-select: none;
        }
        p {
        }
    }
}
ul.comment {
    position: relative;
    font-size: 28px;
    line-height: 40px;
    font-style: italic;
    width: 880px;
    margin: 40px -60px 40px -60px;
    padding: 30px 40px;
    box-sizing: border-box;
    &::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        bottom: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
        border-right: solid 1px rgba($dark, 0.4);
        border-bottom: solid 1px rgba($dark, 0.4);
    }
    &::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 60px;
        border-left: solid 1px rgba($dark, 0.4);
        border-top: solid 1px rgba($dark, 0.4);
    }
    li {
        list-style: none;
    }
}
ul.taskdone, 
ul.task {
    padding-left: 0px;
    li {
        padding-left: 36px;
        list-style: none;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 5px;
            width: 22px;
            height: 22px;
            border: solid 1px rgba($dark, 0.4);
        }
        p {
            font-family: $fira;
            font-weight: 300;
            font-size: 20px;
        }
    }
}
ul.taskdone{
    li::before {
        content: '\e603';
        font-family: $icon;
        font-size: 10px;
        line-height: 22px;
        text-align: center;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
ul.code {
    margin-top: 24px !important;
    padding-left: 0px;
    counter-reset: code-number-counter;
    li {
        counter-increment: code-number-counter;
        list-style: none;
        padding-left: 60px;
        background-color: #f9f9f9;
        border-bottom: solid 1px white;
        position: relative;
        &::before {
            content: counter(code-number-counter);
            font-family: $sourcecodepro;
            font-size: 16px;
            line-height: 24px;
            position: absolute;
            min-width: 20px;
            padding: 0 5px;
            height: 100%;
            left: 0px;
            color: rgba($dark, 0.6);
            background-color: #f2f2f2;
            border-right: solid 1px white;
            text-align: right;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        p {
            font-family: $sourcecodepro;
            font-size: 16px;
            line-height: 24px;
        }
    }
}
table[style] {
    margin: 20px 0;
    td, th {
        border: solid 1px #A7A7A7 !important;
        height: auto !important;
        padding: 0px !important;
    }
    p {
        font-family: $fira !important;
        font-weight: 300 !important;
        font-size: 20px !important;
        line-height: 28px !important;
        padding: 12px 10px 8px 10px !important;
        margin-top:  0px;
    }
}
ul.task + ul.task,
ul.task + ul.taskdone,
ul.taskdone + ul.task,
ul.taskdone + ul.taskdone,
p + ul:not(.comment),
p + ol,
.heading2 + *:not(.comment),
ul.noindent + *:not(.comment) {
    margin-top: 0px;
}